﻿@model IEnumerable<WebApplication2.Uyeler>

@{
    ViewBag.Title = "Uyeler";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Üyeler</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ePosta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cinsiyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dTarihGun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dTarihAy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dTarihYil)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ePosta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dTarihGun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dTarihAy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dTarihYil)
            </td>
            <td>
                @Html.ActionLink("Delete", "YazarSil", new { id = item.id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Entryler", "AdminPanel", "Home")
