﻿<footer style="border: none; border-color: black; bottom: 0; height: 100px">
    <hr>
    <div style="float: left; display: block; margin-left: 10px; margin-top: -10px">
        @Html.ActionLink(WebApplication2.Resources.Texts.İletişim, "iletisim", "Home")
        |
        @Html.ActionLink(WebApplication2.Resources.Texts.İstatistikler, "istatistikler", "Home")
        |
        @Html.ActionLink(WebApplication2.Resources.Texts.SSS, "sss", "Home")
    </div>
    <div style="float: right; margin-top: -10px">
        <ul>
            <li>@Html.ActionLink("TR", "Dil", "Home", new { dil = "tr" }, null)</li>
            <li>@Html.ActionLink("EN", "Dil", "Home", new { dil = "en" }, null)</li>
        </ul>
    </div>
    <div style="float: right; display: block; margin-top: -10px; margin-right: 10px">
        <input type="image" src="~/img/facebook.png" style="height:30px; width: 30px">
        <input type="image" src="~/img/twitter.png" style="height:30px; width: 30px">
        <input type="image" src="~/img/googleplus.png" style="height:30px; width: 30px">
    </div>
</footer>