﻿@model IEnumerable<WebApplication2.Entryler>
@{
    ViewBag.Title = TempData["baslik"];
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="row">
    <div id="sagFrameBaslik"><a href="#" id="basliklink">@TempData["baslik"]</a></div>
    @foreach (var item in Model)
    {
        <div id="sagFrameEntry">
            <ul id="entry">
                <li style="padding-top: 20px; padding-bottom: 20px">
                    <div>
                        @Html.DisplayFor(modelitem => item.Entry)
                    </div>
                    <div style="padding-top: 10px; float: left">
                        <a href="#" style="color: green"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" style="color: red"><span class="glyphicon glyphicon-minus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                    <div style="padding-top: 10px; float: right">
                        <b>@Html.DisplayFor(modelitem => item.Tarih)</b>
                        <a href="#"><b>@Html.DisplayFor(modelitem => item.Yazar)</b></a>
                    </div>
                </li>
            </ul>
        </div>
    }
    <div>
        @if (Request.IsAuthenticated)
        {
            @*Başlık contoller'a gitmiyor. Entry girilememesinin nedeni bu.*@
            using (Html.BeginForm("EntryGir", "Home", FormMethod.Post))
            {
                <form class="form-group">
                    <div class="form-group" style="padding-top: 10px">
                        <label for="entry">Entry:</label>
                        <div style="float: right; display: block">
                            <textarea class="form-control" id="entry" name="entry" rows="20" cols="130"></textarea>
                        </div>
                        <div class="input-group-btn" style="padding-top: 5px">
                            <input type="submit" value="@WebApplication2.Resources.Texts.Gönder" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>
