﻿
@{
    ViewBag.Title = WebApplication2.Resources.Texts.Giriş;
    Layout = "~/Views/Shared/layout.cshtml";
}

<h4>@WebApplication2.Resources.Texts.hoşgeldin, @Session["Username"].ToString(). Ana sayfaya yönlendiriliyorsun..</h4>
@if (ViewBag.rol == "admin")
{
    <meta http-equiv="refresh" content="3; url=AdminPanel" />
}
else
{
    <meta http-equiv="refresh" content="3; url=Index" />
}
<br />