﻿@model WebApplication2.Uyeler
@{
    ViewBag.Title = WebApplication2.Resources.Texts.Giriş;
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>@WebApplication2.Resources.Texts.GirişYap</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("giris", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label(WebApplication2.Resources.Texts.KullanıcıAdı, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.kullaniciAdi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.kullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(WebApplication2.Resources.Texts.Şifre, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.sifre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.sifre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="@WebApplication2.Resources.Texts.Giriş" class="btn btn-default" style="float: right; background-color: darkseagreen; font-weight: bold" />
                        <input type="button" value="@WebApplication2.Resources.Texts.ŞifremiUnuttum" class="btn btn-default" style="float: right; margin-right: 10px; background-color: indianred" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>