﻿@model WebApplication2.Iletisim

@{
    ViewBag.Title = WebApplication2.Resources.Texts.İletişim;
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>@WebApplication2.Resources.Texts.İletişim</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.EPosta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.EPosta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EPosta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.Mesaj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.mesaj, 10, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mesaj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@WebApplication2.Resources.Texts.Gönder" class="btn btn-default" />
            </div>
        </div>
    </div>
}
