﻿@model WebApplication2.Uyeler

@{
    ViewBag.Title = WebApplication2.Resources.Texts.KayıtOl;
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>@WebApplication2.Resources.Texts.KayıtOl</h2>


@using (Html.BeginForm("Kayit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.KullanıcıAdı, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.kullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kullaniciAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.Şifre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.PasswordFor(model => model.sifre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.EPosta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ePosta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ePosta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.DoğumTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.dTarihGun, new { htmlAttributes = new { @class = "form-control", placeholder = WebApplication2.Resources.Texts.Gün } })
                @Html.ValidationMessageFor(model => model.dTarihGun, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.dTarihAy, new { htmlAttributes = new { @class = "form-control", placeholder = WebApplication2.Resources.Texts.Ay } })
                @Html.ValidationMessageFor(model => model.dTarihAy, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.dTarihYil, new { htmlAttributes = new { @class = "form-control", placeholder = WebApplication2.Resources.Texts.Yıl } })
                @Html.ValidationMessageFor(model => model.dTarihYil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WebApplication2.Resources.Texts.Cinsiyet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top: 7px; padding-left: 15px">
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = WebApplication2.Resources.Texts.Erkek,
                        Value = "e",
                        Selected = true
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = WebApplication2.Resources.Texts.Kadın,
                        Value = "k",
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = WebApplication2.Resources.Texts.Cdiğer,
                        Value = "d"
                    });
                }
                @Html.DropDownListFor(model => model.cinsiyet, listItems)
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@WebApplication2.Resources.Texts.Kayıt" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>