﻿
@{
    ViewBag.Title = WebApplication2.Resources.Texts.İletişim;
    Layout = "~/Views/Shared/layout.cshtml";
}

<h4>Mesajınız İletilmiştir</h4>

<div>
    <br />
    @Html.ActionLink("Ana Sayfa","Index","Home")
</div>
