﻿<div class="row">
    <div id="sagFrameBaslik"><a href="#" id="basliklink">saüsözlük</a></div>
    <div id="sagFrameEntry">
        <ol id="entry">
            <li style="padding-top: 20px; padding-bottom: 20px">
                <div>
                    Sakarya Üniversitesi Sözlüğü.
                </div>
                <div style="padding-top: 10px; float: left">
                    <a href="#" style="color: green"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="#" style="color: red"><span class="glyphicon glyphicon-minus"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
                <div style="padding-top: 10px; float: right">
                    <b>27.11.2016 - 12:00</b>
                    <a href="#"><b>admin</b></a>
                </div>
            </li>
        </ol>
    </div>
</div>