﻿@model IEnumerable<WebApplication2.Entryler>
<div style="padding-top: 80px; border: none; border-color: black"></div>
<ul class="nav hidden-xs col-sm-3 listFix" id="list">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li id="listbaslik">@Html.ActionLink(item.Baslik, "Ara", "Home", new { ara = item.Baslik }, new { @id = "baslik" })</li>
        }
    }
</ul>
