﻿
@{
    ViewBag.Title = "Yeniler";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Yeniler</h2>

@model IEnumerable<WebApplication2.Entryler>
<ul>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li id="listbaslik">@Html.ActionLink(item.Baslik, "Ara", "Home", new { ara = item.Baslik }, new { @id = "baslik" })</li>
        }
    }
</ul>
