﻿@model WebApplication2.Entryler

@{
    ViewBag.Title = TempData["baslik"];
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>@TempData["baslik"]</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>başlık bulunamadı. açmak ister miydiniz?</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Entry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Entry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@WebApplication2.Resources.Texts.Gönder" class="btn btn-default" />
            </div>
        </div>
    </div>
}
