﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <!--Arama Kısmı-->
    using (Html.BeginForm("Ara", "Home", FormMethod.Post))
    {
        <form class="navbar-form" role="search">
            <div class="input-group col-sm-2 col-md-3 col-lg-3 navbar-left" style="padding-top: 10px">
                <input type="text" class="form-control" placeholder="@WebApplication2.Resources.Texts.Ara" name="ara" id="ara">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    }

    <!--Yazar Menüsü-->
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> @WebApplication2.Resources.Texts.Ben</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> @WebApplication2.Resources.Texts.Mesajlar</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> @WebApplication2.Resources.Texts.Ayarlar</a></li>
        <li><a href="@Url.Action("cikis","Home")"><span class="glyphicon glyphicon-log-out"></span> @WebApplication2.Resources.Texts.Çıkış</a></li>
    </ul>
}
else
{
    <!--Arama Kısmı-->
    using (Html.BeginForm("Ara", "Home", FormMethod.Post))
    {
        <form class="navbar-form" role="search">
            <div class="input-group col-sm-2 col-md-4 col-lg-4 navbar-left" style="padding-top: 10px">
                <input type="text" class="form-control" placeholder="@WebApplication2.Resources.Texts.Ara" name="ara" id="ara">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    }


    <!--Giriş-Kayıt-->
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("giris","Home")"><span class="glyphicon glyphicon-log-in"></span> @WebApplication2.Resources.Texts.Giriş</a></li>
        <li><a href="@Url.Action("kayit","Home")"><span class="glyphicon glyphicon-plus"></span> @WebApplication2.Resources.Texts.Kayıt</a></li>
    </ul>
}
