﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/index_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title - saüsözlük</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("saüsözlük", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <!--Menu-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(WebApplication2.Resources.Texts.Gündem, "Gundem", "Home")</li>
                        <li>@Html.ActionLink(WebApplication2.Resources.Texts.Yeniler, "Yeniler", "Home")</li>
                        <li>@Html.ActionLink(WebApplication2.Resources.Texts.Rastgele, "Rastgele", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> @WebApplication2.Resources.Texts.Kategoriler <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Bilim, "Kategoriler", "Home")</li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Eğitim, "Kategoriler", "Home")</li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Müzik, "Kategoriler", "Home")</li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Sinema, "Kategoriler", "Home")</li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Spor, "Kategoriler", "Home")</li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Teknoloji, "Kategoriler", "Home")</li>
                                <li role="presentation" class="divider"></li>
                                <li>@Html.ActionLink(WebApplication2.Resources.Texts.Diğer, "Kategoriler", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial("girisPartial")
                </div>
            </div>
        </nav>
        @Html.Partial("solframe")
        <div style="display: block; float: right" class="col-lg-9 col-md-9 col-sm-9 baslikFix" role="main">
            @RenderBody()
            @Html.Partial("altmenu")
        </div>
    </div>
</body>
</html>