﻿.body {
    background-color: rosybrown;
}

ul#list{
     margin-top: -18px;
     height: 93vh;
     overflow:auto;
     float: left;
     position: fixed;
}

li#listbaslik{
}

a#baslik{
    color:black;
    font-size: medium;
    font-weight: 600;
}

a#basliklink{
     font-size: 28px; 
     text-decoration: none; 
     color: black; 
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bold;
}

div#login{
    display: table;
    margin: 0 auto;
    text-align: center;
}

div#sagFrameBaslik{
    margin-left: 15px;
}

div#sagFrameEntry{
    margin-left: -20px;
}

ul#entry{
    list-style-type: none;
    color: black; 
    font-size: medium; 
    font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) and (max-width: 1366px) {
    .container {
        width: auto;
    }
    .listFix {
        width: 20%;
    }
    .baslikFix {
        width: 80%;
    }    
}

@media (min-width: 1366px) {
    .listFix {
        width: 280px;
    }
    .baslikFix {
        width: 870px;
    }
}